.publications-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.publications-subtitle {
  margin-top: 0px;
  margin-bottom: 35px;
}

.publications-list {
  display: flex;
  flex-direction: column;
  gap: 28px; //45
}

@media (max-width: 1380px) {
  .publications-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .publications-heading {
    font-size: 30px;
    text-align: center;
  }

  .publications-subtitle {
    text-align: center;
  }
}